

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover-width: 75% ;
  --right-background-color: rgba(43, 43, 43, 0.8);
  --left-button-hover-color: rgba(87, 84, 236, 1);
  --left-background-color: rgba(87, 84, 236, 0.7);
  --rigth-button-hover-color: rgba(28, 122, 28, 1);
  --other-width: 25%;
  --speed: 1000ms;
}

.button {
  color: #fff;
  position: absolute;
  font-weight: bold;
  padding: 1.5rem;
  top: 40%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  border: #fff solid 0.2rem;
  font-size: 1rem;
  text-decoration: none;
  width: 15rem;
}
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: #fff;
  font-size: 4rem;
  left: 50%;
  top: 20%;
  white-space: nowrap;
  position: absolute;
  transform: translateX(-50%);
}


.split.right .button:hover {
  border-color: var(--right-button-hover-color);
  background-color: var(--right-button-hover-color);
}

.split.left .button:hover {
  border-color: var(--left-button-hover-color);
  background-color: var(--left-button-hover-color);
}
